<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <mappers>
  	<!-- SQL 파일 -->
    <mapper resource="./mappers/user1.xml"/>
    <mapper resource="./mappers/user2.xml"/>
    <mapper resource="./mappers/user3.xml"/>
    <mapper resource="./mappers/user4.xml"/>
  </mappers>
</configuration>